<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Nest.js E-Commerce App</title>
    <%- include('header.ejs') %>
</head>
<script>
    function onLogoutClick(){
        localStorage.removeItem(access_token);
    }
</script>
<body>
    <h1>Homepage</h1>
</body>
</html>